:root {
  --paddingLeft: 35px;
}

@font-face {
  font-family: "norse-bold";
  src: url("fonts/Norse-Bold.otf") format("opentype"); /* Specify the path to your OTF font file */
  /* You can also include other font formats like woff, woff2 for better browser compatibility */
}

body {
  box-sizing: border-box;
  margin: auto;
  padding: 0;
  display: flex;
}

span#italic {
  font-style: italic;
}

.left-part {
  background-image: url("images/background-odin.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 30%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.right-part {
  margin: 0;
  padding: 0;
  width: 70%;
}

#title {
  margin-top: 150px;
  display: flex;
  width: 100%;
  background-color: rgba(38, 37, 37, 0.61);
  height: 150px;
  justify-content: center;
  align-items: center;
}

#title p {
  font-family: "norse-bold";
  font-size: 70px;
  color:white
}

#photo-author {
  color: white;
}

a:visited {
  color: white;
}

.right-section-one {
  background-color: rgb(241, 241, 241);
  height:310px;
  font-size: 1.75rem;
  font-weight: bold;
  box-sizing: border-box;
  padding-top: 75px;
  padding-left: var(--paddingLeft);
}

.right-section-one p {
  max-width: 750px;
  min-width: 500px;
}

.right-section-two {
  background-color: white;
  height: 290px;
  box-sizing: border-box;
  padding-left: var(--paddingLeft);
}

.right-section-two > p {
  font-size: 1.5rem;
  font-weight: bold;
}

.right-section-three {
  background-color: rgb(241, 241, 241);
  height: 35%;
}

.input-fields {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 0.75rem;
}

.form-part {
  width: 40%;
  display: flex;
  flex-direction: column;
}

input:focus {
  border: 1px solid rgb(72, 72, 233);
  box-shadow: 0px 1px 5px rgb(66, 66, 233);
}

input {
  margin-top: 3px;
  border: 1px solid black;
  border-radius: 5px;
  width: 70%;
  max-width: 250px;
  outline: none;
  font-size: 1.2rem;
}

.form-btn {
  margin-top: 100px;
}

.form-btn button {
  font-size: 1.5rem;
  padding: 10px 18px;
  background-color: #596D48;
  border: none;
  border-radius: 10px;
  color: white;
  cursor: pointer;
}

.form-btn button:hover {
  background-color: #668649;
  font-size: 1.6rem;
}

.form-btn p {
  margin-top: 30px;
  font-size: 1.2rem;
}

a,
a:visited {
  color:#596D48;
  font-weight: bold;
}

input:invalid {
  outline: none;
  border: 1px solid red;
}

